<h1><%= @product.title %></h1>

<p>
  <strong>Category:</strong> <%= @product.category.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Stock Quantity:</strong>
  <%= @product.stock_quantity %>
</p>

<%= link_to 'Back to Products List', products_path %>